{% extends 'base.html.twig' %}

{% block title %}Edit Categorie{% endblock %}

{% block content %}
<div class="mid">
    <div class="formulaire">
        <h1>Edit Categorie</h1>

        {{ include('categorie_crud/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('app_categorie_c_r_u_d_index') }}">back to list</a>

        {{ include('categorie_crud/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}