{% extends 'base.html.twig' %}

{% block title %}Edit Categorie{% endblock %}

{% block content %}

    <div class="formulaire">
        <h1>Modifier une catégorie</h1>

        {{ include('categorie_crud/_form.html.twig', {'button_label': 'Modifier'}) }}

        <a class="btn" href="{{ path('app_categorie_c_r_u_d_index') }}">Retour</a>

        {{ include('categorie_crud/_delete_form.html.twig') }}
    </div>

{% endblock %}