{% extends 'base.html.twig' %}

{% block title %}New Categorie{% endblock %}

{% block content %}
<div class="mid">

        <h1>Create new Categorie</h1>

        {{ include('categorie_crud/_form.html.twig') }}

        <a href="{{ path('app_categorie_c_r_u_d_index') }}">back to list</a>

</div>
{% endblock %}