{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block title %}Edit Devis{% endblock %}
{% block content %}
<style>
    .container {
      background: none;
    }
</style>
<div class="formulaire">
    <h1>Modifier un devis</h1>

    {{ include('devis_crud/_form.html.twig',
    {'button_label': 'Modifier'}) }}
<br>
    <a href="{{ path('app_devis_c_r_u_d_index') }}">retour</a>
</div>
{% endblock %}