{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block content %}
<style>

    .accueil{
      
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      
    }
    .img {
        margin-top: 5%;
        width: 350px;     
    }

    h1 {
        margin-top: 20px;
        color: #dbdaea;
    }

    h3 {
        margin-top: 20px;
        color: #dbdaea;
    }
</style>

<div class="accueil">
    <img class="img " src="{{ asset('images/logo.png')}}">

<h1>Le p'tit jardinier ! ✅
    Des professionels à votre service.</h1>

{% if app.user != null %}
<h3>Bienvenue {{ app.user.nom }} {{ app.user.prenom }}</h3>
{% else %}
<h3>Bienvenue</h3>
{% endif %}

</div>
{% endblock %}

