{% extends 'base.html.twig' %}

{% block title %}New Haie{% endblock %}

{% block content %}
<style>
    h1{
        text-align: center;
        margin-bottom: 40px;
    }
</style>
    <div class="formulaire">
        <h1>Ajouter une nouvelle haie</h1>


        {{ include('haie_crud/_form.html.twig') }}
      
        <a href="{{ path('app_haie_c_r_u_d_index') }}">Retour</a>

    </div>

{% endblock %}