{% extends 'base.html.twig' %}

{% block title %}Hello MesureController!{% endblock %}

{% block content %}



<div class="formulaire">
    <h1>Les dimensions de votre haie</h1>
    <br>
    <form action="devis" method="post">
        <select class="form-select" name="txtType" required>
            <option value="" selected>Choisir votre type de haie</option>
            {% for item in mesHaies %}
            <option value="{{ item.getCode() }}"> {{ item.getNom() }}</option>
            {% endfor %}
        </select>
        <br>

        <input class="form-control" placeholder="Longueur" type="text" name="txtLongueur" required>
        <input class="form-control" placeholder="Hauteur" type="text" name="txtHauteur" required>
        <br>

        <input class="btn " type="submit" value="Continuer" name="btnMesure">
    </form>
</div>



{% endblock %}