{% extends 'base.html.twig' %}

{% block title %}Hello MesureController!{% endblock %}

{% block body %}
{% block content %}


<div class="mid">

    <div class="formulaire dashed">
        <h1>Les dimensions de votre haie</h1>
        <br>
        <form action="devis" method="post">
            <select class="form-select" name="txtType">
                <option selected>Choisir votre type de haie</option>
                {% for item in mesHaies %}
                <option value="{{ item.getCode() }}"> {{ item.getNom() }}</option>
                {% endfor %}
            </select>
            <br>
            <label>Longueur :</label>
            <input class="form-control" type="text" name="txtLongueur">
            <label>Hauteur : </label>
            <input class="form-control" type="text" name="txtHauteur">
            <br>
            <input class="btn btn-success" type="submit" value="Continuer" name="btnMesure">
        </form>
    </div>
</div>


{% endblock %}
{% endblock %}