{% extends 'base.html.twig' %}


{% block body %}
	{% block content %}

		<div class="mid">
			<div class="formulaire">
            coucou
			{{ hauteur }}
			{{ longueur }}
			{{ typeHaie }}
			{{ user.getNom }}
	
            </div>
		</div>
	{% endblock %}
{% endblock %}
